modules = ["nodejs-20"]
run = "npm start"
entrypoint = "dist-server/server/server.js"

[deployment]
build = ["npm", "run", "build"]
run = ["node", "dist-server/server/server.js"]

[[ports]]
localPort = 3000
externalPort = 80
